<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="typeof(MainLayout)">
                <Authorizing>
                    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
                        <span class="spinner-border"></span>
                    </div>
                </Authorizing>
                <NotAuthorized>
                    <h1>Sorry</h1>
                    <p>You're not authorized to reach this page. You need to log in.</p>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="container">
                    <div class="text-center">
                        <div class="error">404</div>
                        <div class="message">Oops! The page you are looking for does not exist.</div>
                        <a href="/" class="btn btn-primary back">Go Back Home</a>
                    </div>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
