@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

:root {
    --brand: #448922;
    --brand-hover: #5da030;
}

body {
    background-color: #f9f9f9;
}

a {
    color: var(--brand);
    text-decoration: underline;
}

    a:hover {
        color: var(--brand-hover);
        text-decoration: none;
    }

.navbar {
    border-bottom: 2px solid var(--brand);
    background: linear-gradient(90deg, rgba(255,255,255,1) 5%, rgba(255,255,255,0) 100%), url("/trails/2.jpg") no-repeat center;
    background-size: cover;
}

.btn-primary {
    background-color: var(--brand);
    border-color: var(--brand);
}

    .btn-primary:hover {
        background-color: var(--brand-hover);
        border-color: var(--brand-hover);
    }

.btn-outline-primary {
    border-color: var(--brand);
    color: var(--brand);
}

    .btn-outline-primary:hover {
        background-color: var(--brand);
        border-color: var(--brand);
    }

.grid {
    display: grid;
    grid-template-columns: repeat(3, 288px);
    column-gap: 123px;
    row-gap: 75px;
}

.drawer-mask {
    visibility: hidden;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    background-color: #000000;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.drawer-wrapper.slide > .drawer-mask {
    opacity: .5;
    visibility: visible;
}

.drawer {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 35em;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    border-left: 0.063em solid gray;
    z-index: 100;
    transform: translateX(110%);
    transition: transform 0.3s ease, width 0.3s ease;
}

.drawer-wrapper.slide > .drawer {
    transform: translateX(0);
}

.drawer-content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.trail-details {
    padding: 20px;
}

.drawer-controls {
    padding: 20px;
    background-color: #ffffff;
}

.jumbotron {
    background: none;
}

    .jumbotron input {
        border: 2px solid var(--brand);
    }

.error {
    font-size: 10rem;
    font-weight: bold;
    color: #dc3545;
}

.message {
    font-size: 2rem;
    margin-top: 1rem;
}

.back {
    margin-top: 2rem;
}

.filters {
    display: flex;
    margin-bottom: 20px;
    align-items: baseline;
    justify-content: flex-end;
}

    .filters label {
        text-transform: uppercase;
        margin-right: 10px;
    }

    .filters input {
        margin-right: 20px;
        width: 100px;
    }

    .filters button:first-of-type {
        margin-right: 10px;
    }

.card-brand {
    border-top: 4px solid var(--brand);
}

.validation-message {
    color: red;
}

.input-time {
    display: flex;
}

    .input-time div {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

        .input-time div input {
            width: 90px;
            margin-right: 10px;
        }

        .input-time div label {
            margin-bottom: 0;
        }

.no-trails {
    text-align: center;
    margin-top: 100px;
}

    .no-trails svg {
        width: 200px;
        color: #dee2e6;
        margin-bottom: 30px;
    }

.grid {
    display: grid;
    grid-template-columns: repeat(3, 288px);
    grid-column-gap: 123px;
    grid-row-gap: 75px;
}

table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

    table ::deep th, table ::deep td {
        padding: 0.75rem;
        vertical-align: middle;
    }

    table ::deep thead tr th {
        border-bottom: 4px solid var(--brand);
        border-top: none;
    }

    table ::deep tbody tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, .05);
    }
.map-wrapper {
    position: relative;
}

    .map-wrapper .controls {
        position: absolute;
        bottom: 10px;
        left: 10px;
        z-index: 1000;
    }

.is-invalid {
    border: 1px solid #dc3545;
}